In [1]:
# Dependencies and Setup
import pandas as pd

In [2]:
# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [4]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [28]:
# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [33]:
pass_reading = school_data_complete[school_data_complete["reading_score"]> 70]
student_count = school_data_complete['Student ID'].count()
pass_percent = 
pass_percent

Student ID       32500
student_name     32500
gender           32500
grade            32500
school_name      32500
reading_score    32500
math_score       32500
School ID        32500
type             32500
size             32500
budget           32500
dtype: int64

In [36]:
# Use for Total Students in Part 2.
school_data_complete['school_name'].value_counts()

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [37]:
school_data_complete['school_name']

0         Huang High School
1         Huang High School
2         Huang High School
3         Huang High School
4         Huang High School
                ...
39165    Thomas High School
39166    Thomas High School
39167    Thomas High School
39168    Thomas High School
39169    Thomas High School
Name: school_name, Length: 39170, dtype: object

In [27]:
#school_data_complete.head()
#school_data_complete['school_name'].count()
#school_data_complete['budget'].sum()
#school_data_complete['reading_score'].sum()/school_data_complete['school_name'].count()
# pass_reading = school_data_complete[school_data_complete["reading_score"]> 70]
#pass_percent = pass_reading / school_data_complete['school_name'].count()
total_students = school_data_complete['student_name'].count()
# pass_percent = pass_reading / total_students

AttributeError: 'numpy.int32' object has no attribute 'dtypes'

In [19]:
total_schools = school_data_complete['school_name']
reading_score = school_data_complete['reading_score'].sum()/school_data_complete['school_name'].count()
math_score = school_data_complete['math_score'].sum()/school_data_complete['school_name'].count()

In [ ]:
# Creating a summary DataFrame using above values
summary_df = pd.DataFrame({"Total Schools":[bitcoin_open],
                          "Totals Students":[bitcoin_close],
                          "Total Budget": str(bitcoin_volume)+" million",
                          "Average Math Score":[dash_open],
                          "Average Reading Score":[dash_close],
                          "% Passing Math": str(dash_volume)+" million",
                          "% Passing Reading":[dash_close],
                          "% Overall Passing":[dash_close],
                          })

summary_df