In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [3]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [4]:
# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
schools = school_data_complete['school_name'].unique()
school_count = len(schools)
school_count

15

In [6]:
students = school_data_complete['student_name'].count()
students

39170

In [7]:
budget = school_data_complete['budget'].unique()
budget_sum = budget.sum()
budget_sum

24649428

In [8]:
avg_math_score = school_data_complete['math_score'].sum() / students
avg_math_score

78.98537145774827

In [9]:
avg_reading_score = school_data_complete['reading_score'].sum() / students
avg_reading_score

81.87784018381414

In [68]:
pass_math = school_data_complete[school_data_complete["math_score"]>= 70]
pass_math_count = pass_math["student_name"].count()
pass_math_pct = (pass_math_count / students) * 100
pass_math_pct

74.9808526933878

In [69]:
pass_reading = school_data_complete[school_data_complete["reading_score"]>= 70]
pass_reading_count = pass_reading["student_name"].count()
pass_reading_pct = (pass_reading_count / students) * 100
pass_reading_pct

85.80546336482001

In [70]:
pass_both = school_data_complete.loc[(school_data_complete['math_score'] >= 70) & 
                                     (school_data_complete['reading_score'] >= 70), :]
pass_both = pass_both["Student ID"].count()
#pass_both
#len(pass_both) - without this the number is 25528
pass_both_pct = (pass_both / students) * 100
pass_both_pct

#pass_both = school_data_complete[school_data_complete["math_score","reading_score"]>= 70]
#pass_both
#pass_both = pass_math & pass_reading
#pass_both_count = pass_both["student_name"].unique()
#pass_both_count

65.17232575950983

In [13]:
pass_math_pct = pass_math_pct * 100
pass_reading_pct = pass_reading_pct * 100
pass_both_pct = pass_both_pct * 100

In [14]:
# Creating a summary DataFrame using above values
summary_df = pd.DataFrame({"Total Schools":[school_count],
                          "Total Students":[students],
                          "Total Budget": [budget_sum],
                          "Average Math Score": [avg_math_score],
                          "Average Reading Score": [avg_reading_score],
                          "% Passing Math": [pass_math_pct],
                          "% Passing Reading": [pass_reading_pct],
                          "% Overall Passing": [pass_both_pct],
                          })
summary_df["Total Students"] = summary_df["Total Students"].map('{:,}'.format)
summary_df["Total Budget"] = summary_df["Total Budget"].map('${:,.2f}'.format)
summary_df["Average Math Score"] = summary_df["Average Math Score"].map('{:.3f}'.format)
summary_df["Average Reading Score"] = summary_df["Average Reading Score"].map('{:.3f}'.format)
summary_df["% Passing Math"] = summary_df["% Passing Math"].map('{:.2f}%'.format)
summary_df["% Passing Reading"] = summary_df["% Passing Reading"].map('{:.2f}%'.format)
summary_df["% Overall Passing"] = summary_df["% Overall Passing"].map('{:.2f}%'.format)

summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985,81.878,74.98%,85.81%,65.17%

In [53]:
school_data_complete['Per Student Budget'] = school_data_complete['budget'] / school_data_complete['size']
school_data_complete

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget,Per Student Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,655.0
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,655.0
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,655.0
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,655.0
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,655.0
...,...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,638.0
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,638.0
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,638.0
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,638.0
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,638.0

In [54]:
schools_complete_data = pd.merge(school_data, student_data, on='school_name')
schools_complete_data.head()

,School ID,school_name,type,size,budget,Student ID,student_name,gender,grade,reading_score,math_score
0,0,Huang High School,District,2917,1910635,0,Paul Bradley,M,9th,66,79
1,0,Huang High School,District,2917,1910635,1,Victor Smith,M,12th,94,61
2,0,Huang High School,District,2917,1910635,2,Kevin Rodriguez,M,12th,90,60
3,0,Huang High School,District,2917,1910635,3,Dr. Richard Scott,M,12th,67,58
4,0,Huang High School,District,2917,1910635,4,Bonnie Ray,F,9th,97,84

In [55]:
student_count = schools_complete_data['school_name'].value_counts()
student_count

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [56]:
school_type = schools_complete_data.groupby('school_name')['type'].unique()
school_type = school_type.str[0]
school_type

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [57]:
budget_per_school = schools_complete_data.groupby('school_name')['budget'].unique()
budget_per_school.head()

school_name
Bailey High School      [3124928]
Cabrera High School     [1081356]
Figueroa High School    [1884411]
Ford High School        [1763916]
Griffin High School      [917500]
Name: budget, dtype: object

In [58]:
budget_per_student = schools_complete_data.set_index('school_name')['budget'] / schools_complete_data.set_index('school_name')['size']
budget_per_student

school_name
Huang High School     655.0
Huang High School     655.0
Huang High School     655.0
Huang High School     655.0
Huang High School     655.0
                      ...
Thomas High School    638.0
Thomas High School    638.0
Thomas High School    638.0
Thomas High School    638.0
Thomas High School    638.0
Length: 39170, dtype: float64

In [59]:
#avg_math_score_school = round(schools_complete_data_df.groupby('school')['math_score'].mean(),2)
#avg_reading_score_school = round(schools_complete_data_df.groupby('school')['reading_score'].mean(),2)

avg_math_score = schools_complete_data.groupby('school_name')['math_score'].sum() / student_count
avg_reading_score = schools_complete_data.groupby('school_name')['reading_score'].sum() / student_count

avg_reading_score

Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
dtype: float64

In [60]:
pass_math_pct = schools_complete_data[schools_complete_data['math_score'] >= 70].groupby('school_name')['Student ID'].count()/student_count
pass_reading_pct = schools_complete_data[schools_complete_data['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/student_count 
pass_both_pct = schools_complete_data[(schools_complete_data['reading_score'] >= 70) & (schools_complete_data['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/student_count

pass_read_pct

Bailey High School       0.819333
Cabrera High School      0.970398
Figueroa High School     0.807392
Ford High School         0.792990
Griffin High School      0.971390
Hernandez High School    0.808630
Holden High School       0.962529
Huang High School        0.813164
Johnson High School      0.812224
Pena High School         0.959459
Rodriguez High School    0.802201
Shelton High School      0.958546
Thomas High School       0.973089
Wilson High School       0.965396
Wright High School       0.966111
dtype: float64

In [67]:
school_summary = pd.DataFrame({"School Type": school_type,
                              "Total Students": student_count,
                              "Total School Budget": budget_per_school,
                              "Budget Per Student": budget_per_student,
                              "Average Math Score": avg_math_score,
                              "Average Reading Score": avg_reading_score,
                              "% Passing Math": pass_math_pct,
                              "% Passing Reading": pass_reading_pct,
                              "% Overall Passing Rate": pass_both_pct})

school_summary.head()

ValueError: cannot reindex from a duplicate axis

In [196]:
#by_school = school_data_complete.set_index('school_name').groupby(['school_name'])

#sch_types = school_data_complete.set_index(['school_name'])['type']

#stu_per_sch = by_school['Student ID'].count()
#stu_per_sch = school_data_complete['school_name'].value_counts()

#sch_budget = school_data_complete.set_index('school_name')['budget']
#sch_budget = school_data_complete.groupby(['school_name']).mean()['budget']
#stu_budget = sch_budget / stu_per_sch

#stu_budget = school_data_complete.set_index('school_name')['budget']/school_data_complete.set_index('school_name')['size']

#avg_math = by_school['math_score'].mean()
#avg_reading = by_school['reading_score'].mean()

#pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/stu_per_sch 
#pass_read = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/stu_per_sch 
#overall = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/stu_per_sch

In [188]:
#schools2_data_complete = pd.merge(school_data, student_data, on='school_name')
#schools2_data_complete

In [172]:
#school_data = student_data.set_index('school').groupby(['school'])

In [189]:
#student_count = schools2_data_complete['student_name'].value_counts()
#student_count

In [190]:
#school_data = schools2_data_complete.groupby('school_name')['type'].unique()
#school_data = school_type.str[0]
#school_data

In [ ]:
#budget_per_school =

In [200]:
school_summary = pd.DataFrame({'School Type': sch_types })

school_summary

                   School Type
school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
...                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter

[39170 rows x 1 columns]