In [87]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [88]:
# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [89]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [90]:
# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [91]:
schools = school_data_complete['school_name'].unique()
school_count = len(schools)
school_count

15

In [92]:
students = school_data_complete['student_name'].count()
students

39170

In [93]:
budget = school_data_complete['budget'].unique()
budget_sum = budget.sum()
budget_sum

24649428

In [94]:
avg_math_score = school_data_complete['math_score'].sum() / students
avg_math_score

78.98537145774827

In [95]:
avg_reading_score = school_data_complete['reading_score'].sum() / students
avg_reading_score

81.87784018381414

In [149]:
pass_math = school_data_complete[school_data_complete["math_score"]>= 70]
pass_math_count = pass_math["student_name"].count()
pass_math_pct = pass_math_count / students
pass_math_pct

0.749808526933878

In [150]:
pass_reading = school_data_complete[school_data_complete["reading_score"]>= 70]
pass_reading_count = pass_reading["student_name"].count()
pass_reading_pct = pass_reading_count / students
pass_reading_pct

0.8580546336482001

In [151]:
pass_both = school_data_complete.loc[(school_data_complete['math_score'] >= 70) & 
                                     (school_data_complete['reading_score'] >= 70), :]
pass_both = pass_both["student_name"].unique()
#len(pass_both) - without this the number is 25528
pass_both_pct = len(pass_both) / students
pass_both_pct

#pass_both = school_data_complete[school_data_complete["math_score","reading_score"]>= 70]
#pass_both
#pass_both = pass_math & pass_reading
#pass_both_count = pass_both["student_name"].unique()
#pass_both_count

0.5723512892519785

In [152]:
pass_math_pct = pass_math_pct * 100
pass_reading_pct = pass_reading_pct * 100
pass_both_pct = pass_both_pct * 100

In [154]:
# Creating a summary DataFrame using above values
summary_df = pd.DataFrame({"Total Schools":[school_count],
                          "Total Students":[students],
                          "Total Budget": [budget_sum],
                          "Average Math Score": [avg_math_score],
                          "Average Reading Score": [avg_reading_score],
                          "% Passing Math": [pass_math_pct],
                          "% Passing Reading": [pass_reading_pct],
                          "% Overall Passing": [pass_both_pct],
                          })
summary_df["Total Students"] = summary_df["Total Students"].map('{:,}'.format)
summary_df["Total Budget"] = summary_df["Total Budget"].map('${:,.2f}'.format)
summary_df["Average Math Score"] = summary_df["Average Math Score"].map('{:.3f}'.format)
summary_df["Average Reading Score"] = summary_df["Average Reading Score"].map('{:.3f}'.format)
summary_df["% Passing Math"] = summary_df["% Passing Math"].map('{:.2f}%'.format)
summary_df["% Passing Reading"] = summary_df["% Passing Reading"].map('{:.2f}%'.format)
summary_df["% Overall Passing"] = summary_df["% Overall Passing"].map('{:.2f}%'.format)

summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.985,81.878,74.98%,85.81%,57.24%

In [130]:
school_data = student_data_complete


#school_data = student_data.set_index('school').groupby(['school'])


#student_data = school_data_complete.groupby("school_name") ["student_name"].count()
#student_data

#school_data = school_data_complete.groupby(['school_name'])
#budget_per_school = school_data["budget"]


#budget_per_student = 



#school_sort = school_data_complete[["type", "student_name", "budget", ]]


#school_data = school_data_complete.groupby(['school_name'])

AttributeError: 'Series' object has no attribute 'set_index'