In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [3]:
# File to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [4]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [5]:
# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [6]:
#groups by school
index_by_school = school_data_complete.set_index('school_name').groupby(['school_name'])

#school types
sch_types = school_data.set_index('school_name')['type']

# total students by school
stu_per_sch = index_by_school['Student ID'].count()

# school budget
sch_budget = school_data.set_index('school_name')['budget']

#per student budget
stu_budget = school_data.set_index('school_name')['budget']/school_data.set_index('school_name')['size']

#avg scores by school
avg_math = index_by_school['math_score'].mean()
avg_reading = index_by_school['reading_score'].mean()

# % passing scores
pass_math = school_data_complete[school_data_complete['math_score'] >= 70].groupby('school_name')['Student ID'].count()/stu_per_sch 
pass_reading = school_data_complete[school_data_complete['reading_score'] >= 70].groupby('school_name')['Student ID'].count()/stu_per_sch 
pass_both = school_data_complete[(school_data_complete['reading_score'] >= 70) & (school_data_complete['math_score'] >= 70)].groupby('school_name')['Student ID'].count()/stu_per_sch

pass_math = pass_math * 100
pass_reading = pass_reading * 100
pass_both = pass_both * 100

school_summary = pd.DataFrame({"School Type": sch_types,
                            "Total Students": stu_per_sch,
                            "Total School Budget": sch_budget,
                            "Per Student Budget": stu_budget,
                            "Average Math Score": avg_math,
                            "Average Reading Score": avg_reading,
                            "% Passing Math": pass_math,
                            "% Passing Reading": pass_reading,
                            "Overall Passing Rate": pass_both})

school_summary["Total Students"] = school_summary["Total Students"].map('{:,}'.format)
school_summary["Total School Budget"] = school_summary["Total School Budget"].map('${:,.2f}'.format)
school_summary["Per Student Budget"] = school_summary["Per Student Budget"].map('${:,.2f}'.format)
school_summary["Average Math Score"] = school_summary["Average Math Score"].map('{:.3f}'.format)
school_summary["Average Reading Score"] = school_summary["Average Reading Score"].map('{:.3f}'.format)
school_summary["% Passing Math"] = school_summary["% Passing Math"].map('{:.2f}%'.format)
school_summary["% Passing Reading"] = school_summary["% Passing Reading"].map('{:.2f}%'.format)
school_summary["Overall Passing Rate"] = school_summary["Overall Passing Rate"].map('{:.2f}%'.format)

school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing Rate
Bailey High School,District,"4,976","$3,124,928.00",$628.00,77.048,81.034,66.68%,81.93%,54.64%
Cabrera High School,Charter,"1,858","$1,081,356.00",$582.00,83.062,83.976,94.13%,97.04%,91.33%
Figueroa High School,District,"2,949","$1,884,411.00",$639.00,76.712,81.158,65.99%,80.74%,53.20%
Ford High School,District,"2,739","$1,763,916.00",$644.00,77.103,80.746,68.31%,79.30%,54.29%
Griffin High School,Charter,"1,468","$917,500.00",$625.00,83.351,83.817,93.39%,97.14%,90.60%
Hernandez High School,District,"4,635","$3,022,020.00",$652.00,77.290,80.934,66.75%,80.86%,53.53%
Holden High School,Charter,427,"$248,087.00",$581.00,83.803,83.815,92.51%,96.25%,89.23%
Huang High School,District,"2,917","$1,910,635.00",$655.00,76.629,81.183,65.68%,81.32%,53.51%
Johnson High School,District,"4,761","$3,094,650.00",$650.00,77.072,80.966,66.06%,81.22%,53.54%
Pena High School,Charter,962,"$585,858.00",$609.00,83.840,84.045,94.59%,95.95%,90.54%
Rodriguez High School,District,"3,999","$2,547,363.00",$637.00,76.843,80.745,66.37%,80.22%,52.99%
Shelton High School,Charter,"1,761","$1,056,600.00",$600.00,83.359,83.726,93.87%,95.85%,89.89%
Thomas High School,Charter,"1,635","$1,043,130.00",$638.00,83.418,83.849,93.27%,97.31%,90.95%
Wilson High School,Charter,"2,283","$1,319,574.00",$578.00,83.274,83.989,93.87%,96.54%,90.58%
Wright High School,Charter,"1,800","$1,049,400.00",$583.00,83.682,83.955,93.33%,96.61%,90.33%

In [7]:
spend_bins = [0, 585, 630, 645, 680]
spend_grp_names = ['< 585', '$586-630', '$630-645', '$646-680']

In [8]:
school_summary['Spending Ranges (Per Student)'] = pd.cut(school_summary['Per Student Budget'],
                                                        bins=spend_bins, labels=spend_grp_names)

scores_by_spending = school_summary.groupby(['Spending Ranges (Per Student)'])

scores_by_spending.head()



#scores_by_money_spent = school_summary.groupby("Spending Ranges (Per Student)")

#scores_by_money_spent["Average Math Score",
                    #"Average Reading Score",
                   # "% Passing Math",
                    #"% Passing Reading",
                    #"Overall Passing Rate"].mean

#scores_by_money_spent_df = pd.DataFrame({"Average Math Score",
                                                              # "Average Reading Score",
                                                              # "% Passing Math",
                                                              # "% Passing Reading",
                                                              # "Overall Passing Rate"})

#scores_by_money_spent = school_summary.set_index("Spending Ranges (Per Student)")

#scores_by_money_spent_df.head()

#school_summary["Spending Ranges (Per Student)"] = pd.cut(stu_budget, bins=spend_bins, labels=spend_grp_names)
#spending_math_scores = school_summary.groupby["Spending Ranges (Per Student)"]
#.mean()[avg_math]
#spending_math_scores.head()
#school_spending = pd.cut(school_summary['Per Student Budget'], bins=spend_bins, labels=spend_grp_names)
#school_spending = pd.DataFrame(school_spending)['Average Math Score'].astype(float)
#school_summary['Spending Ranges (Per Student)'] = school_spending
#school_summary_df = school_summary.groupby(['Spending Ranges (Per Student)'])

#school_summary_df.dtypes
#school_summary_df.head()

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
size_bins = [0, 1000, 2000, 5000]
size_grp_names = ['Small (< 1000)', 'Medium (1000-2000)', 'Large (2000-5000)']